<center><h3>Select your reading time:</h3></center>
<br>
<div class="mdl-grid">
 
<div class="mdl-cell mdl-cell--5-col">

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <img ng-src=""{{user.image}}"></img> 
  </div>
  <div class="mdl-card__supporting-text">
  Welcome {{user.displayName}}!!!
  </div>
  </div>

</div>
    <div class="mdl-cell mdl-cell--1-col">
    
     <button ng-click="fetchStory(1)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">1</button>
    
    </div>
    <div class="mdl-cell mdl-cell--1-col">
    
     <button ng-click="fetchStory(3)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">3</button>
    
    </div>

   </div>
<br>
<div class="mdl-grid">
 
<div class="mdl-cell mdl-cell--5-col">
    </div>
    <div class="mdl-cell mdl-cell--1-col">
    
     <button ng-click="fetchStory(5)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">5</button>
    
    </div>
    <div class="mdl-cell mdl-cell--1-col">
    
     <button ng-click="fetchStory(7)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">7</button>
    
    </div>

   </div>
    